doctype html(lang='en-US')
head
    style.
      body{
      background-color: red;
      }
    |         
    title Arts
  body
    h1
      b
        | This page contains the Art related majors
        b
    p
      | This region will be populated by the query from the database with clickable major combinations.
    p A search bar will also be implemented here in the interest of scalability.
